.serv1{
    background-image: url("assets/img/servicio1.png");
    background-size: cover;
}
.serv2{
    background-image: url("assets/img/servicio2.png");
    background-size: cover;
}
.serv3{
    background-image: url("assets/img/servicio3.png");
    background-size: cover;
}
.img-prod1{
    background: blue;
}

.fondo-features{
  background: #f8f8f8;
    
}



.section-title-center:after {
    position: absolute;
    left: 50%;
    bottom: 5px;
    background: blue;
    background: -webkit-linear-gradient(45deg, blue, #ffaf00);
    background: -o-linear-gradient(45deg, blue, #ffaf00);
    background: linear-gradient(45deg, blue, #ffaf00);
    content: "";
    width: 100px;
    height: 2px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.fondo-page{
background-color:#00a5c2;
  
}
.bcurva{
    border-radius: 3%;
}
.font-boot{
    font-size: 2vw;
}

/* Ajuste para el footer */
@media (max-width: 1208px)
{
    .footer-margin
    {
        margin-bottom: 547px !important;
    }
}

.btn-icon
{
    min-width: 250px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (min-width: 768px) and (max-width: 997px)
{
    .banner-text-content
    {
        margin-top: 95px! important;
    }
    .banner-text-content h1
    {
        font-size: 26px !important;
    }
}

@media (min-width: 997px) and (max-width: 1220px)
{
    .banner-text-content
    {
        margin-top: 95px !important;
    }
    .banner-text-content h1
    {
        font-size: 35px !important; 
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    i{
        background: none !important;
    }
    
    .e-fix-width
    {
        max-width: 350px;
    }
    
    @-moz-document url-prefix() {
     #flexible-content{
          flex: 1;
        }
    }
    
    .section-padding--fix
    {
        padding-bottom: 220px !important;
    }
}

.sizeseccion{
    min-height: 840px;
    max-height: 845px;
}





