.serv1{
    background-image: url("assets/img/servicio1.png");
    background-size: cover;
}
.serv2{
    background-image: url("assets/img/servicio2.png");
    background-size: cover;
}
.serv3{
    background-image: url("assets/img/servicio3.png");
    background-size: cover;
}
.img-prod1{
    background: blue;
}

.fondo-features{
  background: #f8f8f8;
    
}



.section-title-center:after {
    position: absolute;
    left: 50%;
    bottom: 5px;
    background: blue;
    background: linear-gradient(45deg, blue, #ffaf00);
    content: "";
    width: 100px;
    height: 2px;
    transform: translateX(-50%);
}

.fondo-page{
background-color:#00a5c2;
  
}
.bcurva{
    border-radius: 3%;
}